
<p>Department Code</p>
  <%= d.text_field(:department_code, :class => 'form-control') %><br  />

<p>Department Description</p>
  <%= d.text_field(:department_description , :class => 'form-control') %>
