<div class="container-fluid">
  <div class = 'row'>
    <div class= 'col-md-2'>

    </div>
    <div class ='col-md-8'>
      <div class="jumbotron">
        <h1>WhartonShare</h1>
        <p>WhartonShare is a repository of homework solutions, old exams and quizzes, as well as any other course files to aid each other through the
          Wharton MBA program for ourselves and our future classmates and colleauges.</p>
      </div>

      <p>The goal of this site is to ensure that we all have access to necessary study material, the community only survives if we contribute to it in a respectful manner!</p>
      <p class ='center'>Please ensure that all files uploaded are relevant, <strong>YOU</strong> are resposible for what <strong>YOU</strong> upload </p>

      <div class = 'well'>
        <h3>Change Log</h3>
        <li>2017-01-06: Added File Requests</li>
        <li>2017-01-03: Added Subscriptions to Courses</li>
      </div>

    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
